{% extends "menu/index.html" %}

{% block content %}
<div class="container-fluid">
    <form method="post">
        {% csrf_token %}

        <!-- Usuário a ser desligado -->
        <div class="form-group position-relative">
          <label for="usuarioInput">Usuário a ser desligado</label>
          <input
              type="text"
              class="form-control {% if form.usuario.errors %}is-invalid{% endif %}"
              id="usuarioInput"
              name="{{ form.usuario.name }}"
              value="{{ form.usuario.value|default_if_none:'' }}"
              autocomplete="off"
              placeholder="Digite o nome do Usuario para buscar..."
          />
          <ul class="suggestions-list" id="usuarioSuggestions"></ul>
          {% for error in form.usuario.errors %}
              <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
      </div>
        <!-- Datas de desligamento e limite -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.data_desligamento.id_for_label }}">Data de Desligamento</label>
                    <input type="date" class="form-control {% if form.data_desligamento.errors %}is-invalid{% endif %}" id="dataDesligamento" name="{{ form.data_desligamento.name }}" value="{{ form.data_desligamento.value|date:'Y-m-d'|default_if_none:'' }}">
                    {% for error in form.data_desligamento.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.data_limite.id_for_label }}">Data Limite</label>
                    <input type="date" class="form-control {% if form.data_limite.errors %}is-invalid{% endif %}" id="dataLimite" name="{{ form.data_limite.name }}" value="{{ form.data_limite.value|date:'Y-m-d'|default_if_none:'' }}">
                    {% for error in form.data_limite.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Seção de bloqueio para cada sistema -->
        
        <div class="row align-items-center">
          <div class="col-md-2">
              <div class="form-group">
                  <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="envioEmailGestor" name="{{ form.envio_email_gestor.name }}" {% if form.envio_email_gestor.value %}checked{% endif %}>
                      <label class="custom-control-label" for="envioEmailGestor">E-mail ao Gestor</label>
                  </div>
              </div>
          </div>
          <div class="col-md-10">
              <div class="form-group position-relative">
                  <label for="gestorInput">Gestor Responsável</label>
                  <input
                      type="text"
                      class="form-control {% if form.gestor.errors %}is-invalid{% endif %}"
                      id="gestorInput"
                      name="{{ form.gestor.name }}"
                      value="{{ form.gestor.value|default_if_none:'' }}"
                      autocomplete="off"
                       placeholder="Digite o nome do Gestor/Substituto para buscar..."
                  />
                  <ul class="suggestions-list" id="gestorSuggestions"></ul>
                  {% for error in form.gestor.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                  {% endfor %}
              </div>
          </div>
      </div>

        <div class="form-group">

            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="bloqueioEmail" name="{{ form.bloqueio_email.name }}" {% if form.bloqueio_email.value %}checked{% endif %}>
                        <label class="custom-control-label" for="bloqueioEmail">Bloquear E-mail</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="{{ form.usuario_email.name }}" value="{{ form.usuario_email.value|default_if_none:'' }}" placeholder="Usuário de E-mail">
                </div>
            </div>
        </div>

        <!-- Bloqueio Fluig -->
        <div class="form-group">

            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="bloqueioFluig" name="{{ form.bloqueio_fluig.name }}" {% if form.bloqueio_fluig.value %}checked{% endif %}>
                        <label class="custom-control-label" for="bloqueioFluig">Bloquear Fluig</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="{{ form.usuario_fluig.name }}" value="{{ form.usuario_fluig.value|default_if_none:'' }}" placeholder="Usuário Fluig">
                </div>
            </div>
        </div>

        <!-- Bloqueio Datasul e Go-Global -->
        <div class="form-group">
   
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="bloqueioDatasul" name="{{ form.bloqueio_datasul.name }}" {% if form.bloqueio_datasul.value %}checked{% endif %}>
                        <label class="custom-control-label" for="bloqueioDatasul">Bloquear Datasul</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="{{ form.usuario_datasul.name }}" value="{{ form.usuario_datasul.value|default_if_none:'' }}" placeholder="Usuário Datasul">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="{{ form.usuario_goglobal.name }}" value="{{ form.usuario_goglobal.value|default_if_none:'' }}" placeholder="Usuário Go-Global">
                </div>
            </div>
        </div>

        <!-- Bloqueio Monday -->
        <div class="form-group">
           
            <div class="row align-items-center mb-2">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="bloqueioMonday" name="{{ form.bloqueio_monday.name }}" {% if form.bloqueio_monday.value %}checked{% endif %}>
                        <label class="custom-control-label" for="bloqueioMonday">Bloquear Monday</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="{{ form.usuario_monday.name }}" value="{{ form.usuario_monday.value|default_if_none:'' }}" placeholder="Usuário Monday">
                </div>
            </div>
        </div>

        <!-- Continuar para outros sistemas da mesma forma -->
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="bloqueioQualiteam" name="{{ form.bloqueio_qualiteam.name }}" {% if form.bloqueio_qualiteam.value %}checked{% endif %}>
                        <label class="custom-control-label" for="bloqueioQualiteam">Bloquear Qualiteam</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="{{ form.usuario_qualiteam.name }}" value="{{ form.usuario_qualiteam.value|default_if_none:'' }}" placeholder="Usuário Qualiteam">
                </div>
            </div>
        </div>

        <!-- Bloqueio Portal de Chamados -->
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="bloqueioPortalChamados" name="{{ form.bloqueio_portal_chamados.name }}" {% if form.bloqueio_portal_chamados.value %}checked{% endif %}>
                        <label class="custom-control-label" for="bloqueioPortalChamados">Bloquear Portal de Chamados</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="{{ form.usuario_portal_chamados.name }}" value="{{ form.usuario_portal_chamados.value|default_if_none:'' }}" placeholder="Usuário do Portal de Chamados">
                </div>
            </div>
        </div>

        <!-- Bloqueio Usuário da Impressora (Matriz) -->
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="bloqueioUsuarioImpressora" name="{{ form.bloqueio_usuario_impressora.name }}" {% if form.bloqueio_usuario_impressora.value %}checked{% endif %}>
                        <label class="custom-control-label" for="bloqueioUsuarioImpressora">Bloquear Usuário de Impressora (Matriz)</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="{{ form.usuario_impressora.name }}" value="{{ form.usuario_impressora.value|default_if_none:'' }}" placeholder="Usuário de Impressora (Matriz)">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="backupEmail" name="{{ form.backup_email.name }}" {% if form.backup_email.value %}checked{% endif %}>
                        <label class="custom-control-label" for="backupEmail">Backup do E-mail</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control" name="{{ form.observacao_email.name }}" placeholder="Observações sobre o backup do e-mail">{{ form.observacao_email.value }}</textarea>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="backupOneDrive" name="{{ form.backup_onedrive.name }}" {% if form.backup_onedrive.value %}checked{% endif %}>
                        <label class="custom-control-label" for="backupOneDrive">Backup do OneDrive</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control" name="{{ form.observacao_onedrive.name }}" placeholder="Observações sobre o backup do OneDrive">{{ form.observacao_onedrive.value }}</textarea>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="backupDesktop" name="{{ form.backup_desktop.name }}" {% if form.backup_desktop.value %}checked{% endif %}>
                        <label class="custom-control-label" for="backupDesktop">Backup da Área de Trabalho</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control" name="{{ form.observacao_desktop.name }}" placeholder="Observações sobre o backup da Área de Trabalho">{{ form.observacao_desktop.value }}</textarea>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="devolucaoComputador" name="{{ form.devolucao_computador.name }}" {% if form.devolucao_computador.value %}checked{% endif %}>
                        <label class="custom-control-label" for="devolucaoComputador">Devolução do Computador</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control" name="{{ form.observacao_computador.name }}" placeholder="Observações sobre a devolução do computador">{{ form.observacao_computador.value }}</textarea>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="devolucaoCelular" name="{{ form.devolucao_celular.name }}" {% if form.devolucao_celular.value %}checked{% endif %}>
                        <label class="custom-control-label" for="devolucaoCelular">Devolução do Celular</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control" name="{{ form.observacao_celular.name }}" placeholder="Observações sobre a devolução do celular">{{ form.observacao_celular.value }}</textarea>
                </div>
            </div>
        </div>
        <!-- Botões -->
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'usuario_desligamento_list' %}" class="btn btn-secondary">Voltar</a>
    </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      // Função para gerar sugestões dinâmicas
      function setupAutocomplete(inputElement, suggestionsListElement, data) {
          inputElement.addEventListener("input", function () {
              const query = this.value.toLowerCase();
              suggestionsListElement.innerHTML = "";
              if (query) {
                  const filteredData = data.filter(item =>
                      item.toLowerCase().includes(query)
                  );
                  filteredData.forEach(item => {
                      const li = document.createElement("li");
                      li.textContent = item;
                      li.classList.add("suggestion-item");
                      li.addEventListener("mousedown", function () {
                          inputElement.value = item;
                          suggestionsListElement.style.display = "none";
                      });
                      suggestionsListElement.appendChild(li);
                  });
                  suggestionsListElement.style.display = "block";
              } else {
                  suggestionsListElement.style.display = "none";
              }
          });

          // Oculta a lista de sugestões quando o campo perde o foco
          inputElement.addEventListener("blur", function () {
              setTimeout(() => { suggestionsListElement.style.display = "none"; }, 100);
          });

          // Exibe a lista novamente ao focar no campo, se houver texto
          inputElement.addEventListener("focus", function () {
              if (this.value) {
                  suggestionsListElement.style.display = "block";
              }
          });
      }

      // Dados de usuários e gestores
      const usuariosList = [
          {% for user in usuarios_list %}
              "{{ user.nom_funcionario }}",
          {% endfor %}
      ];

      // Configurar autocomplete para "usuarioInput"
      setupAutocomplete(
          document.getElementById("usuarioInput"),
          document.getElementById("usuarioSuggestions"),
          usuariosList
      );

      // Configurar autocomplete para "gestorInput"
      setupAutocomplete(
          document.getElementById("gestorInput"),
          document.getElementById("gestorSuggestions"),
          usuariosList
      );
  });
</script>
{% endblock %}
