.bg-success-custom {
    background-color: #399444; /* Cor de fundo para status Sucesso */
    color: white; /* Cor do texto para contraste */
}

.bg-warning-custom {
    background-color: #fae837; /* Cor de fundo para status Warning */
    color: black; /* Cor do texto para contraste */
}

.bg-danger-custom {
    background-color: #8A2A2A; /* Cor de fundo para status Erro */
    color: white; /* Cor do texto para contraste */
}

/* Classes para o ícone, para combinar com o tema de fundo */
.iq-bg-success {
    background-color: #399444;
}

.iq-bg-warning {
    background-color: #fae837;
}

.iq-bg-danger {
    background-color: #8A2A2A;
}