/*------------- Variable ------------*/

:root {
  --iq-title-text: #3f414d;
  --iq-body-text: #777d74;
  --iq-body-bg: #ffffff; /*- #fbfbfb;-*/
  --iq-primary: #116533;
  --iq-secondary: #399444;
  --iq-success: #116533; /*- #0e4f29;-*/
  --iq-warning: #ffbf43;
  --iq-danger: #fe517e;
  --iq-info: #9267ff;
  --iq-dark: #3f414d;
  --iq-light: #fafafb;
  --iq-white: #ffffff;
  --iq-black: #000000;
  --iq-light-primary: #e7ecee;
  --iq-light-secondary: #f1f2f1;
  --iq-light-success: #ecfff6;
  --iq-light-danger: #ffeeee;
  --iq-light-warning: #fefaee;
  --iq-light-info: #f4f0ff;
  --iq-light-dark: #f0efef;
  --iq-primary-hover: #399444;
  --iq-secondary-hover: #116533;
  --iq-success-hover: #116533;
  --iq-danger-hover: #ff6a6a;
  --iq-warning-hover: #fae837;
  --iq-info-hover: #fff1e0;
  --iq-dark-hover: #3948e8;
  --iq-border-light: #6FCF97;
  --iq-light-card: #ffffff;
  --iq-primary-rgb: 100, 114, 248;
  /* color for customizer*/
  --iq-color1: #116533;
  --iq-color2: #399444;
  --iq-color3: #1C361F;  /* Verde Terra ComBio */
  --iq-color4: #5D513A;  /* Marrom Biomassa ComBio */
  --iq-color5: #AB3434;  /* Vermelho Terra ComBio */
  --iq-color6: #BF882D;  /* Amarelo Terra ComBio */
  --iq-color7: #76858E;  /* Azul Terra ComBio */

  /* Ajustando as cores de apoio baseadas nas cores principais */
  --iq-color8: #163428;  /* Verde Terra escurecido */
  --iq-color9: #483D34;  /* Marrom Biomassa escurecido */
  --iq-color10: #8A2A2A; /* Vermelho Terra escurecido */
  --iq-color11: #A07822; /* Amarelo Terra escurecido */
  --iq-color12: #56636E; /* Azul Terra escurecido */

  --iq-color13: #2E5037; /* Verde Terra com mais saturação */
  --iq-color14: #70634A; /* Marrom Biomassa com mais saturação */
  --iq-color15: #C44747; /* Vermelho Terra com mais saturação */
  --iq-color16: #D69B47; /* Amarelo Terra com mais saturação */
  --iq-color17: #849CAE; /* Azul Terra com mais saturação */

  --iq-color18: #1E2D20; /* Verde Terra muito escurecido */
  --iq-color19: #3C3529; /* Marrom Biomassa muito escurecido */
  --iq-color20: #6E2222; /* Vermelho Terra muito escurecido */
}
