{% extends "menu/index.html" %}

{% block content %}
<div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">Nome</label>
            <input type="text" class="form-control {% if form.nome.errors %}is-invalid{% endif %}" id="{{ form.nome.id_for_label }}" name="{{ form.nome.name }}" value="{{ form.nome.value|default_if_none:'' }}">
            {% for error in form.nome.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.unidade.id_for_label }}">Unidade</label>
            <input type="text" class="form-control {% if form.unidade.errors %}is-invalid{% endif %}" id="{{ form.unidade.id_for_label }}" name="{{ form.unidade.name }}" value="{{ form.unidade.value|default_if_none:'' }}">
            {% for error in form.unidade.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.setor.id_for_label }}">Setor</label>
            <input type="text" class="form-control {% if form.setor.errors %}is-invalid{% endif %}" id="{{ form.setor.id_for_label }}" name="{{ form.setor.name }}" value="{{ form.setor.value|default_if_none:'' }}">
            {% for error in form.setor.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.cargo.id_for_label }}">Cargo</label>
            <input type="text" class="form-control {% if form.cargo.errors %}is-invalid{% endif %}" id="{{ form.cargo.id_for_label }}" name="{{ form.cargo.name }}" value="{{ form.cargo.value|default_if_none:'' }}">
            {% for error in form.cargo.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.telefone.id_for_label }}">Telefone</label>
            <input type="text" class="form-control {% if form.telefone.errors %}is-invalid{% endif %}" id="{{ form.telefone.id_for_label }}" name="{{ form.telefone.name }}" value="{{ form.telefone.value|default_if_none:'' }}">
            {% for error in form.telefone.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}
