{% extends "menu/index.html" %}

{% block content %}
<div class="container-fluid">
    <form method="get" action="" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" placeholder="Pesquisar computadores..." class="form-control" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>

    <a href="{% url 'computador_create' %}" class="btn btn-primary mb-4">Adicionar Computador</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Hostname</th>
                <th>Patrimônio</th>
                <th>Fabricante</th>
                <th>Modelo</th>
                <th>Processador</th>
                <th>Memória</th>
                <th>HD</th>
                <th>Usuário</th>
                <th>Estabelecimento</th>
                <th>Centro de Custo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for computador in object_list %}
            <tr>
                <td>{{ computador.id }}</td>
                <td>{{ computador.hostname }}</td>
                <td>{{ computador.patrimonio }}</td>
                <td>{{ computador.fabricante }}</td>
                <td>{{ computador.modelo }}</td>
                <td>{{ computador.processador }}</td>
                <td>{{ computador.memoria }}</td>
                <td>{{ computador.hd }}</td>
                <td>{{ computador.usuario }}</td>
                <td>{{ computador.Estabelecimento }}</td>
                <td>{{ computador.centro_custo }}</td>
                <td>
                    <a href="{% url 'computador_edit' computador.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'prontuario_computador_list' computador.id %}" class="btn btn-sm btn-info">Prontuário</a>
                    <a href="#" class="delete-trigger btn btn-sm btn-danger" data-id="{{ computador.id }}" data-item="{{ computador.hostname }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal de Exclusão -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja excluir <strong id="deleteItemName"></strong>?
                </div>
                <div class="modal-footer">
                    <form method="post" id="deleteForm">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteTriggers = document.querySelectorAll('.delete-trigger');
            deleteTriggers.forEach(trigger => {
                trigger.addEventListener('click', function () {
                    const itemId = this.getAttribute('data-id');
                    const itemName = this.getAttribute('data-item');
                    document.getElementById('deleteItemName').textContent = itemName;
                    document.getElementById('deleteForm').action = `/inventario/computador/delete/${itemId}/`;
                    $('#confirmDeleteModal').modal('show');
                });
            });
        });
    </script>
</div>
{% endblock %}
