{% extends "menu/index.html" %}

{% block content %}
<div class="container-fluid">
    <!-- Detalhes do Computador -->
    <h4>Detalhes do Computador</h4>
    <div class="row">
        <div class="col-md-4"><strong>Modelo:</strong> {{ computador.modelo }}</div>
        <div class="col-md-4"><strong>Fabricante:</strong> {{ computador.fabricante }}</div>
        <div class="col-md-4"><strong>Número de Série:</strong> {{ computador.numero_serie }}</div>
    </div>
    <div class="row">
        <div class="col-md-4"><strong>Hostname:</strong> {{ computador.hostname }}</div>
        <div class="col-md-4"><strong>Usuário:</strong> {{ computador.usuario }}</div>
        <div class="col-md-4"><strong>Status:</strong> {{ computador.status.nome_status }}</div>
    </div>
    <hr>
    <h4>Editar Ação no Prontuário</h4>
    <form method="post">
        {% csrf_token %}
        
        <!-- Campos do Prontuário -->
        {% include "inventario/computador/partials/prontuario_form_fields.html" %}

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'prontuario_computador_list' computador_id=computador.id %}" class="btn btn-secondary">Voltar</a>
    </form>
</div>
{% endblock %}
