{% extends "menu/index.html" %}  <!-- Substitua base_generic.html pelo seu template base -->

{% block content %}
<div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        <!-- Campo Codigo -->
        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">Nome da Consultoria</label>
            <input type="text" class="form-control {% if form.nome.errors %}is-invalid{% endif %}" id="{{ form.nome.id_for_label }}" name="{{ form.nome.name }}" value="{{ form.nome.value|default_if_none:'' }}">
            {% for error in form.nome.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
         <label for="{{ form.valor_hora.id_for_label }}">Valor hora</label>
         <input type="text" class="form-control {% if form.valor_hora.errors %}is-invalid{% endif %}" id="{{ form.valor_hora.id_for_label }}" name="{{ form.valor_hora.name }}" value="{{ form.valor_hora.value|default_if_none:'' }}">
         {% for error in form.valor_hora.errors %}
             <div class="invalid-feedback">{{ error }}</div>
         {% endfor %}
     </div>


        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<div class="modal fade" id="Modal{{dataset.datasetid}}" tabindex="-1" role="dialog" aria-labelledby="Modal{{dataset.datasetid}}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="Modal{{dataset.datasetid}}Title">Detalhes da Sincronização: {{dataset.datasetid}} </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>{{dataset.syncdetails|linebreaksbr}}</p>
             
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
       </div>
    </div>
 </div>
{% endblock %}