{% extends "menu/index.html" %} {% block content %}
<div class="container-fluid">
  <div class="mb-4">
    <a
      href="{% url 'administration_passwordmanager_new' %}"
      class="btn btn-primary"
    >
      <i class="fa fa-plus"></i> Adicionar Senhas
    </a>
  </div>

  {% for group in PasswordGroups %}

  <div class="col-sm-12">
    <h3 class="mt-4 mb-3">{{ group.nome }}</h3>
  </div>
<div class="row">
  {% for PasswordManager in object_list %} 
  {% if group.id == PasswordManager.grupo_id %}
  <div class="col-sm-2 col-md-2 col-lg-3">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
      <div class="iq-card-body iq-box-relative">
        <div
          class="iq-box-absolute icon iq-icon-box rounded-circle iq-bg-danger"
        >
          <i class="ri-key-fill"></i>
        </div>
        <p class="card-text mt-1">
          <strong>{{ PasswordManager.site_name }}</strong>
        </p>
        <p class="card-text">
          <strong>Status:</strong>
          <button
            type="button"
            class="badge badge-success"
            data-toggle="modal"
            data-target="#Modal{{PasswordManager.id}}"
          >
            Sucesso
          </button>
        </p>
        <p class="card-text">{{ dataset.datasetdescription }}</p>
        <p class="card-text">
          Ultima Sincro.:{{ PasswordManager.decrypted_password }} <br />Ultimo Reset:.: <br />Proxima Sincro.:
        </p>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="Modal{{PasswordManager.id}}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="Modal{{PasswordManager.id}}Title"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modal{{PasswordManager.id}}Title">
            Detalhes da Sincronização: {{PasswordManager.id}}
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{dataset.syncdetails|linebreaksbr}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% empty %}

  <h1 class="display-6 mb-0">Não há senhas disponiveis</h1>

  {% endfor %}
  </div>
  {% endfor %}

{% endblock %}
