{% extends 'menu/index.html' %}
{% block content %}
{% load static %}
{% load my_filters %}

<div class="container-fluid">
    <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Consultoria: </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav nav-pills">
              <li class="nav-item">
                  <!-- Link para visualizar todos os projetos -->
                  <a class="nav-link {% if not consultoria_selecionada %} active {% endif %}" href="{% url 'novosprojetos_dashboard' %}">Todos</a>
              </li>
              {% for consultoria in consultorias %}
              <li class="nav-item">
                  <a class="nav-link {% if consultoria_selecionada and consultoria.id == consultoria_selecionada.id %} active {% endif %}" href="{% url 'novosprojetos_dashboard' %}?consultoria_id={{ consultoria.id }}">{{ consultoria.nome }}</a>
              </li>
              {% endfor %}
          </ul>
      </div>
  </nav>
    </div>

     <div class="row">
        <div class="col-lg-8">
           <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-header d-flex justify-content-between">
                 <div class="iq-header-title">
                    <h4 class="card-title">Projetos por Consultoria</h4>
                 </div>
                 
              </div>
              <div class="iq-card-body row m-0 align-items-center pb-0">
                 <div class="col-md-8">
                    <div id="iq-income-chart"></div>
                 </div>
                 <div class="col-md-4">
                    <div class="chart-data-block">
                       <h4><b>Total</b></h4>
                       <h2><b>R$ {{ valor_total_projetos|floatformat:2 }} </b></h2>
                       
           
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-lg-4">
          <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Sistemas</h4>
                </div>
             </div>
             <div class="iq-card-body">
                <div id="home-perfomer-chart"></div>
             </div>
          </div>
       </div>
      </div>
    
      </div>
        <div class="row">

        <div class="col-lg-6">
           <div class="iq-card iq-card-block iq-card-stretch" style="position: relative;">
              <div class="iq-card-body">
                 <h6>Graph Profit Margin</h6>
                 <h2>80%</h2>
              </div>
              <div id="home-profit-chart"></div>
           </div>
          </div>
           <div class="col-lg-6">
           <div class="iq-card iq-card-block iq-card-stretch" style="position: relative;">
              <div class="iq-card-body">
                 <h6>Graph Loss Margin</h6>
                 <h2>25%</h2>
              </div>
              <div id="home-loss-chart"></div>
           </div>
          </div>
        </div>
        </div>
     </div>
  </div>
  <div class='row'>

  <div class="col-lg-12">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
       <div class="iq-card-header d-flex justify-content-between">
          <div class="iq-header-title">
             <h4 class="card-title">Projetos</h4>
          </div>
          <div class="iq-card-header-toolbar d-flex align-items-center">
             <div class="dropdown">
                <span class="dropdown-toggle text-primary" id="dropdownMenuButton5" data-toggle="dropdown">
                <i class="ri-more-fill"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                   <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                   <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                   <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                   <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                   <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                </div>
             </div>
          </div>
       </div>
       <div class="iq-card-body">
          <div class="table-responsive">
             <table class="table mb-0">
                <thead class="thead-light">
                   <tr>
                      <th scope="col">Customer</th>
                      <th scope="col">Date</th>
                      <th scope="col">Invoice</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <td>Ira Membrit</td>
                      <td>18/10/2019</td>
                      <td>20156</td>
                      <td>$1500</td>
                      <td>
                         <div class="badge badge-pill badge-success">Paid</div>
                      </td>
                      <td>Copy</td>
                   </tr>
                   <tr>
                      <td>Pete Sariya</td>
                      <td>26/10/2019</td>
                      <td>7859</td>
                      <td>$2000</td>
                      <td>
                         <div class="badge badge-pill badge-success">Paid</div>
                      </td>
                      <td>Send Email</td>
                   </tr>
                   <tr>
                      <td>Cliff Hanger</td>
                      <td>18/11/2019</td>
                      <td>6396</td>
                      <td>$2500</td>
                      <td>
                         <div class="badge badge-pill badge-danger">Past Due</div>
                      </td>
                      <td>Before Due</td>
                   </tr>
                   <tr>
                      <td>Terry Aki</td>
                      <td>14/12/2019</td>
                      <td>7854</td>
                      <td>$5000</td>
                      <td>
                         <div class="badge badge-pill badge-success">Paid</div>
                      </td>
                      <td>Copy</td>
                   </tr>
                   <tr>
                      <td>Anna Mull</td>
                      <td>24/12/2019</td>
                      <td>568569</td>
                      <td>$10000</td>
                      <td>
                         <div class="badge badge-pill badge-success">Paid</div>
                      </td>
                      <td>Send Email</td>
                   </tr>
                   <tr>
                      <td>Alex john</td>
                      <td>05/12/2019</td>
                      <td>45896</td>
                      <td>$15236</td>
                      <td>
                         <div class="badge badge-pill badge-success">Paid</div>
                      </td>
                      <td>Send Email</td>
                   </tr>
                   <tr>
                      <td>Rock lai</td>
                      <td>28/12/2019</td>
                      <td>458965</td>
                      <td>$50200</td>
                      <td>
                         <div class="badge badge-pill badge-success">Paid</div>
                      </td>
                      <td>Send Email</td>
                   </tr>
                   <tr>
                      <td>Cliff Hanger</td>
                      <td>18/11/2019</td>
                      <td>6396</td>
                      <td>$2500</td>
                      <td>
                         <div class="badge badge-pill badge-danger">Past Due</div>
                      </td>
                      <td>Before Due</td>
                   </tr>
                   <tr>
                      <td>Terry Aki</td>
                      <td>14/12/2019</td>
                      <td>7854</td>
                      <td>$5000</td>
                      <td>
                         <div class="badge badge-pill badge-success">Paid</div>
                      </td>
                      <td>Copy</td>
                   </tr>
                   <tr>
                      <td>Anna Mull</td>
                      <td>24/12/2019</td>
                      <td>568569</td>
                      <td>$10000</td>
                      <td>
                         <div class="badge badge-pill badge-success">Paid</div>
                      </td>
                      <td>Send Email</td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
</div>
</div>

<script src={% static "js/lottie.js" %}></script>
<script src={% static "js/jquery.min.js" %}></script>
<script src={% static "js/raphael-min.js" %}></script>
<script src={% static "js/morris.js" %}></script>
<script src={% static "js/apexcharts.js" %}></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (jQuery('#iq-income-chart').length) {
        var options = {
            series: {{ series|safe }},
            chart: {
                type: 'bar',
                height: 350,
                stacked: true
            },

            colors: [   "#116533",  "#399444",    "#1C361F",  "#5D513A",   "#A83434",  "#BF882D",  "#76858E" ],
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '15%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: {{ categorias|safe }},
            },
            yaxis: {
                title: {
                    text: 'Quantidade de Projetos'
                }
            },
            fill: {
                opacity: 1
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + " projetos";
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#iq-income-chart"), options);
        chart.render();
    }
});

if(jQuery('#home-loss-chart').length){
  var options = {
      series: [{
      name: 'series1',
      data: [80, 90, 110, 60, 42, 109, 100]
    }, {
      name: 'series2',
      data: [50, 60, 70, 30, 20, 85, 80]
    }],
    colors: ["#1e3d73", "#99f6ca"],
      chart: {
      height: 100,
      type: 'area',
      sparkline: {
        enabled: true,
    }
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'smooth'
    },
    xaxis: {
      type: 'datetime',
      categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
    },
    tooltip: {
      x: {
        format: 'dd/MM/yy HH:mm'
      },
    },
    };

    var chart = new ApexCharts(document.querySelector("#home-loss-chart"), options);
    chart.render();
}
if(jQuery('#home-profit-chart').length){
  var options = {
      series: [{
      name: 'series1',
      data: [1, 1, 1, 1, 1, 1, 1]
    }, {
      name: 'series2',
      data: [11, 32, 45, 32, 34, 52, 41]
    }],
    colors: ["#1e3d73", "#99f6ca"],
      chart: {
      height: 100,
      type: 'area',
      sparkline: {
        enabled: true,
    }
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'smooth'
    },
    xaxis: {
      type: 'datetime',
      categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
    },
    tooltip: {
      x: {
        format: 'dd/MM/yy HH:mm'
      },
    },
    };

    var chart = new ApexCharts(document.querySelector("#home-profit-chart"), options);
    chart.render();
}
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      if(jQuery('#home-perfomer-chart').length){
          var donut = new Morris.Donut({
              element: 'home-perfomer-chart',
              resize: true,
              colors: [   "#116533",  "#399444",    "#1C361F",  "#5D513A",   "#A83434",  "#BF882D",  "#76858E" ],
              data: {{ grafico_por_sistemas|safe }},
              hideHover: 'auto'
          });
      }
  });
  </script>

{% endblock content %}