{% extends 'menu/index.html' %}
{% block content %}
<div class="container-fluid">

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Nome do Grupo</label>
            <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}">
            {% for error in form.name.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        
     

            
                
                <div class="switch-group iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Processos Fluig:</h4>
                        </div>
                     </div>
                     
                        <div class="row">
                            {% for process in form.fields.selected_processes.queryset %}
                                <div class="col-md-5 ml-2">
                                    <div class="custom-control custom-switch custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="switch_{{ process.id }}" 
                                               name="selected_processes_switch" value="{{ process.id }}"
                                               {% if process.id in selected_process_ids %} checked{% endif %}>
                                        <label class="custom-control-label" for="switch_{{ process.id }}">
                                            {{ process.description }} ({{ process.process_id }})
                                        </label>
                                    </div>
                                </div>
                                {% if forloop.counter0|divisibleby:2 and not forloop.last %}
                                    </div><div class="row">
                                {% endif %}
                            {% endfor %}
                        </div>
                    
                </div>
            
        
        <div class="row mt-4">
        <button type="submit" class="btn btn-success">{{ button_label }}</button>
        <div class='ml-2'>
        <a href="{% url 'list_group_processes' %}" class="btn btn-secondary">Cancelar</a>
        </div>
        </div>
    </form>
</div>
{% endblock %}
