{% extends "menu/index.html" %}

{% block content %}
<div class="container-fluid">
    <form method="get" action="" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" placeholder="Pesquisar celulares..." class="form-control" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>

    <a href="{% url 'celular_create' %}" class="btn btn-primary mb-4">Adicionar Celular</a>
    <a href="{% url 'export_celular_excel' %}?search={{ request.GET.search }}" class="btn btn-success mb-4">
        Exportar Celulares para Excel
    </a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Fabricante</th>
                <th>Número de Série</th>
                <th>IMEI</th>
                <th>Número da Linha</th>
                <th>Usuário</th>
                <th>Status</th>
                <th>Estabelecimento</th>
                <th>Centro de Custo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for celular in object_list %}
            <tr>
                <td>{{ celular.id }}</td>
                <td>{{ celular.modelo }}</td>
                <td>{{ celular.fabricante }}</td>
                <td>{{ celular.numero_serie }}</td>
                <td>{{ celular.imei }}</td>
                <td>{{ celular.numero_linha }}</td>
                <td>{{ celular.usuario }}</td>
                <td>{{ celular.status.nome_status }}</td>
                <td>{{ celular.estabelecimento }}</td>
                <td>{{ celular.centro_custo }}</td>
                <td>
                    <a href="{% url 'celular_edit' celular.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'prontuario_celular_list' celular.id %}" class="btn btn-sm btn-info">Prontuário</a>
                    <a href="#" class="delete-trigger btn btn-sm btn-danger" data-id="{{ celular.id }}" data-item="{{ celular.modelo }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal de Exclusão -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja excluir <strong id="deleteItemName"></strong>?
                </div>
                <div class="modal-footer">
                    <form method="post" id="deleteForm">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Excluir</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteTriggers = document.querySelectorAll('.delete-trigger');
            deleteTriggers.forEach(trigger => {
                trigger.addEventListener('click', function () {
                    const itemId = this.getAttribute('data-id');
                    const itemName = this.getAttribute('data-item');
                    document.getElementById('deleteItemName').textContent = itemName;
                    document.getElementById('deleteForm').action = `/inventario/celular/delete/${itemId}/`;
                    $('#confirmDeleteModal').modal('show');
                });
            });
        });
    </script>
</div>
{% endblock %}
