{% extends "menu/index.html" %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">{{ title }}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Site</th>
                    <th>Usuário</th>
                    <th>Grupo</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for password in inactive_passwords %}
                <tr>
                    <td>{{ password.id }}</td>
                    <td>{{ password.site_name }}</td>
                    <td>{{ password.username }}</td>
                    <td>{{ password.grupo.nome }}</td>
                    <td>{{ password.tipo.nome }}</td>
                    <td>
                        <!-- Botão de ativar -->
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ActivateModal{{ password.id }}">
                            Ativar
                        </button>

                        <!-- Botão de visualizar -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewModal{{ password.id }}">
                            Visualizar
                        </button>
                    </td>
                </tr>

               
                
                <!-- Modal de Confirmação para Ativar -->
                <div class="modal fade" id="ActivateModal{{ password.id }}" tabindex="-1" role="dialog" aria-labelledby="ActivateModalLabel{{ password.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ActivateModalLabel{{ password.id }}">Confirmar Ativação</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tem certeza de que deseja ativar a senha do site: <strong>{{ password.site_name }}</strong>?
                            </div>
                            <div class="modal-footer">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-success">Ativar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de visualização -->
                <div class="modal fade" id="viewModal{{ password.id }}" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel{{ password.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="viewModalLabel{{ password.id }}">Detalhes: {{ password.site_name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Programa / Site</label>
                                        <input type="text" class="form-control" value="{{ password.site_name }}" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>URL</label>
                                        <input type="text" class="form-control" value="{{ password.url }}" readonly>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Usuário</label>
                                        <input type="text" class="form-control" value="{{ password.username }}" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Senha</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="modal-password-view-{{ password.id }}" value="{{ password.get_password }}" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" onclick="togglePasswordVisibility({{ password.id }})">Mostrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Grupo</label>
                                        <input type="text" class="form-control" value="{{ password.grupo.nome }}" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Tipo</label>
                                        <input type="text" class="form-control" value="{{ password.tipo.nome }}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Observações</label>
                                    <textarea class="form-control" readonly>{{ password.observacoes }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Usuário Criação</label>
                                    <input type="text" class="form-control" value="{{ password.usuario_criacao.nome_completo }}" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Visualização</label>
                                    <input type="text" class="form-control" value="{{ password.get_visualizacao_display }}" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Cofre</label>
                                    <input type="text" class="form-control" value="{{ password.vault.nome_cofre }}" readonly>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
function togglePasswordVisibility(id) {
    const passwordField = document.getElementById('modal-password-view-' + id);
    const button = passwordField.parentNode.querySelector("button");

    if (passwordField.type === "password") {
        passwordField.type = "text";
        button.textContent = "Ocultar";
    } else {
        passwordField.type = "password";
        button.textContent = "Mostrar";
    }
}
</script>
{% endblock %}
