{% extends "menu/index.html" %}
{% block content %}
<div class="container-fluid">

    <form method="get" action="" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" placeholder="Pesquisar Senhas..." class="form-control" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>

    <div class="mb-4">
        <a href="{% url 'administration_passwordmanager_new' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> Adicionar Senha
        </a>
    </div>

    {% for grupo in password_groups %}
    {% if grupo.passwords.exists %}
    <div class="iq-card">
        <div class="card-body">
            <h5 class="card-title">{{ grupo.nome }}</h5>
            <div class="row mt-2">
                {% for password_manager in grupo.passwords.all %}
                <div class="col-md-4">
                    <div class="card mb-4 mt-4 shadow-sm bg-password-card">
                        <div class="card-body">
                            <div class="iq-box-absolute icon iq-icon-box rounded-circle iq-bg-primary" style="top: 10px; right: 10px;">
                                <i class="ri-key-2-fill"></i>
                            </div>
                            <h5 class="card-title">{{ password_manager.site_name }}</h5>
                            <p class="card-text">Username: {{ password_manager.username }}</p>
                            <p class="card-text">URL: <a href="{{ password_manager.url }}" target="_blank">{{ password_manager.url }}</a></p>
                            <p class="card-text">Tipo: {{ password_manager.tipo }}</p>
                            <p class="card-text">Cofre: {{ password_manager.vault.nome_cofre }}</p>
                            <p class="card-text">Visualização: 
                                {% if password_manager.visualizacao == 'TODOS' %}
                                    <span class="badge badge-success">Todos</span>
                                {% else %}
                                    <span class="badge badge-warning">Pessoal</span>
                                {% endif %}
                            </p>

                            <!-- Botão para copiar a senha -->
                            <button onclick="copyPassword({{ password_manager.id }})" class="btn btn-success btn-sm">Copiar Senha</button>

                            <!-- Botão para abrir o modal de visualização -->
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalView{{ password_manager.id }}">
                                Ver Detalhes
                            </button>

                            <!-- Botão para abrir o modal de edição -->
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ModalEdit{{ password_manager.id }}">
                                Editar
                            </button>

                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#InactivateModal{{ password_manager.id }}">
                              Inativar
                          </button>
                        </div>
                    </div>
                </div>

                <!-- Modal de Confirmação -->
<div class="modal fade" id="InactivateModal{{ password_manager.id }}" tabindex="-1" role="dialog" aria-labelledby="InactivateModalLabel{{ password_manager.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="InactivateModalLabel{{ password_manager.id }}">Confirmar Inativação</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              Tem certeza de que deseja inativar a senha do site: <strong>{{ password_manager.site_name }}</strong>?
          </div>
          <div class="modal-footer">
              <form method="POST" action="{% url 'administration_passwordmanager_inactivate' password_manager.id %}">
                  {% csrf_token %}
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger">Inativar</button>
              </form>
          </div>
      </div>
  </div>
</div>

                <!-- Modal de visualização -->
                <div class="modal fade" id="ModalView{{ password_manager.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabelView{{ password_manager.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabelView{{ password_manager.id }}">Detalhes do Site: {{ password_manager.site_name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="siteNameView{{ password_manager.id }}">Programa / Site</label>
                                        <input type="text" class="form-control" id="siteNameView{{ password_manager.id }}" value="{{ password_manager.site_name }}" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="urlView{{ password_manager.id }}">URL</label>
                                        <input type="text" class="form-control" id="urlView{{ password_manager.id }}" value="{{ password_manager.url }}" readonly>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="usernameView{{ password_manager.id }}">Usuário</label>
                                        <input type="text" class="form-control" id="usernameView{{ password_manager.id }}" value="{{ password_manager.username }}" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="passwordView{{ password_manager.id }}">Senha</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="modal-password-field{{ password_manager.id }}" value="{{ password_manager.get_password }}" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" onclick="togglePasswordVisibility({{ password_manager.id }})" type="button">Mostrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="tipoView{{ password_manager.id }}">Tipo</label>
                                        <input type="text" class="form-control" id="tipoView{{ password_manager.id }}" value="{{ password_manager.tipo }}" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="grupoView{{ password_manager.id }}">Grupo</label>
                                        <input type="text" class="form-control" id="grupoView{{ password_manager.id }}" value="{{ password_manager.grupo }}" readonly>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="visualizacaoView{{ password_manager.id }}">Visualização</label>
                                        <input type="text" class="form-control" id="visualizacaoView{{ password_manager.id }}" value="{{ password_manager.visualizacao }}" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="vaultView{{ password_manager.id }}">Cofre</label>
                                        <input type="text" class="form-control" id="vaultView{{ password_manager.id }}" value="{{ password_manager.vault.nome_cofre }}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="observacoesView{{ password_manager.id }}">Observações</label>
                                    <textarea class="form-control" id="observacoesView{{ password_manager.id }}" readonly>{{ password_manager.observacoes }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="ativoView{{ password_manager.id }}">Ativo</label>
                                    <input type="text" class="form-control" id="ativoView{{ password_manager.id }}" value="{{ password_manager.ativo|yesno:"Sim,Não" }}" readonly>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal de edição -->
                <div class="modal fade" id="ModalEdit{{ password_manager.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabelEdit{{ password_manager.id }}" aria-hidden="true">
                  <div class="modal-dialog modal-xl" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="ModalLabelEdit{{ password_manager.id }}">Editar Senha: {{ password_manager.site_name }}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form method="POST" action="">
                                  {% csrf_token %}
                                  <input type="hidden" name="password_manager_id" value="{{ password_manager.id }}">
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="siteNameEdit{{ password_manager.id }}">Programa / Site</label>
                                          <input type="text" class="form-control" id="siteNameEdit{{ password_manager.id }}" name="site_name" value="{{ password_manager.site_name }}">
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="urlEdit{{ password_manager.id }}">URL</label>
                                          <input type="text" class="form-control" id="urlEdit{{ password_manager.id }}" name="url" value="{{ password_manager.url }}">
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="usernameEdit{{ password_manager.id }}">Usuário</label>
                                          <input type="text" class="form-control" id="usernameEdit{{ password_manager.id }}" name="username" value="{{ password_manager.username }}">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="passwordEdit{{ password_manager.id }}">Senha</label>
                                        <div class="input-group">
                                            <!-- O ID é único para o modal de edição -->
                                            <input type="password" class="form-control" id="modal-password-field-edit-{{ password_manager.id }}" name="password" value="{{ password_manager.get_password }}">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" onclick="togglePasswordVisibilityEdit({{ password_manager.id }})">Mostrar</button>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="tipoEdit{{ password_manager.id }}">Tipo</label>
                                          <select class="form-control" id="tipoEdit{{ password_manager.id }}" name="tipo">
                                              {% for tipo in tipos %}
                                              <option value="{{ tipo.id }}" {% if tipo == password_manager.tipo %}selected{% endif %}>{{ tipo.nome }}</option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="grupoEdit{{ password_manager.id }}">Grupo</label>
                                          <select class="form-control" id="grupoEdit{{ password_manager.id }}" name="grupo">
                                              {% for grupo in grupos %}
                                              <option value="{{ grupo.id }}" {% if grupo == password_manager.grupo %}selected{% endif %}>{{ grupo.nome }}</option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                          <label for="visualizacaoEdit{{ password_manager.id }}">Visualização</label>
                                          <select class="form-control" id="visualizacaoEdit{{ password_manager.id }}" name="visualizacao">
                                              <option value="TODOS" {% if password_manager.visualizacao == 'TODOS' %}selected{% endif %}>Todos</option>
                                              <option value="PERSONAL" {% if password_manager.visualizacao == 'PERSONAL' %}selected{% endif %}>Pessoal</option>
                                          </select>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="vaultEdit{{ password_manager.id }}">Cofre</label>
                                        <select class="form-control" id="vaultEdit{{ password_manager.id }}" name="vault">
                                            {% for vault in vaults %}
                                            <option value="{{ vault.id }}" {% if vault == password_manager.vault %}selected{% endif %}>{{ vault.nome_cofre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="observacoesEdit{{ password_manager.id }}">Observações</label>
                                      <textarea class="form-control" id="observacoesEdit{{ password_manager.id }}" name="observacoes">{{ password_manager.observacoes }}</textarea>
                                  </div>
                                  <div class="form-group">
                                      <label for="ativoEdit{{ password_manager.id }}">Ativo</label>
                                      <select class="form-control" id="ativoEdit{{ password_manager.id }}" name="ativo">
                                          <option value="True" {% if password_manager.ativo %}selected{% endif %}>Sim</option>
                                          <option value="False" {% if not password_manager.ativo %}selected{% endif %}>Não</option>
                                      </select>
                                  </div>
                                  <button type="submit" class="btn btn-success">Salvar</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>

                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <p>Nenhum grupo de senhas encontrado.</p>
    {% endfor %}
</div>

<script>
function togglePasswordVisibility(id) {
    const passwordField = document.getElementById('modal-password-field' + id);
    const button = passwordField.nextElementSibling.querySelector("button");

    if (passwordField.type === "password") {
        passwordField.type = "text";
        button.textContent = "Ocultar";
    } else {
        passwordField.type = "password";
        button.textContent = "Mostrar";
    }
}


function copyPassword(id) {
    fetch(`/cofre/passwordmanager/get-password/${id}/`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`Erro na requisição: ${response.statusText}`);
            }
            return response.json();
        })
        .then(data => {
            if (navigator.clipboard) {
                navigator.clipboard.writeText(data.decrypted_password)
                    .then(() => {
                        location.reload();  // Recarrega a página após o sucesso
                    })
                    .catch(err => {
                        console.error("Erro ao copiar a senha com Clipboard API:", err);
                        // Fallback para copia manual
                        fallbackCopyTextToClipboard(data.decrypted_password);
                    });
            } else {
                // Fallback para copia manual
                fallbackCopyTextToClipboard(data.decrypted_password);
            }
        })
        .catch(error => {
            console.error("Erro ao copiar a senha:", error);
           
        });
}

function fallbackCopyTextToClipboard(text) {
    const textArea = document.createElement("textarea");
    textArea.value = text;
    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    try {
        document.execCommand('copy');
        location.reload();  // Recarrega a página após tentativa de cópia manual
    } catch (err) {
        console.error('Falha ao copiar, copie manualmente.', err);

    }

    document.body.removeChild(textArea);
}
</script>

<script>
  function togglePasswordVisibilityEdit(id) {
      const passwordField = document.getElementById('modal-password-field-edit-' + id);
  
      // Verifica se o campo existe antes de continuar
      if (!passwordField) {
          console.error('Campo de senha não encontrado para ID:', id);
          return;
      }
  
      const button = passwordField.parentNode.querySelector("button");
  
      if (passwordField.type === "password") {
          passwordField.type = "text";
          button.textContent = "Ocultar";
      } else {
          passwordField.type = "password";
          button.textContent = "Mostrar";
      }
  }
  </script>
{% endblock %}
