{% extends "menu/index.html" %}

{% block content %}
<div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">Nome</label>
            <input type="text" class="form-control {% if form.nome.errors %}is-invalid{% endif %}" id="nome" name="{{ form.nome.name }}" value="{{ form.nome.value|default_if_none:'' }}">
            {% for error in form.nome.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'passwordtype_list' %}" class="btn btn-secondary">Voltar</a>
    </form>
</div>
{% endblock %}  